@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 76% 8%;
    --foreground: 0 0% 100%;
    --card: 214 76% 8%
    --card-foreground: 0 0% 100%;
    --popover: 214 76% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 214 76% 8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 76% 8%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 76% 8%;
    --muted-foreground: 0 0% 100%;
    --accent: 214 76% 8%;
    --accent-foreground: 87, 89%, 53%;
    --destructive: 214 76% 8%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 87 89% 53%;
    --chart-2: 182 61% 51%;
    --chart-3: 92 69% 48%;
    --chart-4: 87 89% 53%;
    --chart-5: 182 61% 51%;
    --radius: 0.5rem;
    --sidebar-background: 87, 89%, 53%;
    --sidebar-foreground: 214 76% 8%;
    --sidebar-primary: 214 76% 8%;
    --sidebar-primary-foreground: 87, 89%, 53%;
    --sidebar-accent: 214 76% 8%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 214 76% 8%;
    --foreground: 0 0% 100%;
    --card: 214 76% 8%;
    --card-foreground: 0 0% 100%;
    --popover: 214 76% 8%;
    --popover-foreground: 0 0% 100%;
    --primary: 214 76% 8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 76% 8%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 76% 8%;
    --muted-foreground: 0 0% 100%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 214 76% 8%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 87 89% 53%;
    --chart-2: 182 61% 51%;
    --chart-3: 92 69% 48%;
    --chart-4: 87 89% 53%;
    --chart-5: 182 61% 51%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}